/* hide page: will be unhidden by javascript */
/* otherwise notes won't be populated until a moment after the page loads */
html {visibility:hidden; }

body {
  margin:0;
}

#task-list {
  display:block;
  margin:auto;
  margin-top:2vh;

  min-height:50vw;
  max-height:fit-content;
  width:90%;

  background-color: white;     
}

header#taskHeader {
  position: relative;

  background-color: rgba(255,232,163,255);
  height:15%;
  width:100%;

  font-family: Arial, Helvetica, sans-serif;

  border-radius:10px;
}

#radio-icon {
  width:7vw;
  padding-left:1vw;
}

#headerLogo {
  display:flex;
  align-items:center;
  align-self:first baseline;

  font-size: 1.5vmax;
}

div#headerDate {
  width:fit-content;
  right:0;
  position: absolute;
  bottom: 1vw;
  right: 1vw;

  font-size: 1.4vmax;
}

#task-container {
  width:80%;
  min-height:60vh;
  margin:auto;
  margin-top:2vw;

  background-color: rgb(256,220,212);
  border-radius:10px;
  padding-top:4vh;
  padding-bottom:4vh;

  display:grid;
  grid-gap:4vh;
}



/* Create new task css */
#create-task-container {
  width: 80%;
  min-height: 2vw;
  max-height: fit-content;
  margin: auto;
  margin-top: 2vw;
  background-color: rgb(256, 220, 212);
  border-radius: 10px;
  padding-top: 4vh;
  padding-bottom: 4vh;
  grid-template-columns: 1fr 1fr 1fr;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.create-title {
  margin-top:auto;
  margin-bottom:auto;
  margin-left:auto;
  margin-right:auto;
  font-family:Arial, Helvetica, sans-serif;
  font-size:3vh;
}

.new-text {
  height:60%;
  margin-top:auto;
  margin-bottom:auto;
  margin:auto;
}

#create-button {
  margin-top:auto;
  margin-bottom:auto;
  margin-left:auto;
  margin-right:auto;
}


/* TASK ITEM CSS */

.task {
  width:80%;
  margin:auto;
  min-height:20vh;
  height:fit-content;
  background-color:white;
  border-radius: 15px;
}

.custom-radio {
  width: 20px;
  height: 20px;
  border: 2px solid green;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.custom-radio:checked {
    background-color: green;
}



div.task {
  position: relative;
  display:flex;
  flex-wrap: wrap; 
  width:90%;
  gap:1vh;
  align-items:center;
  margin:auto;
}

.task-title {
  margin-right: 10px;
  margin-top:auto;
  margin-bottom:auto;

  font-family:Arial, Helvetica, sans-serif;
  font-size:3vh;
}

.task-open {
  width:fit-content;
  margin-right:2vw;

  display:block;
  margin:auto;
}

.task-description {
  flex-basis:100%;
  display:none;
  font-size:3vh;
}

.task-description:target {
  display:block;
}

input.task-checkbox-done{
  width: 3em;
  height: 3rem;
  accent-color: green;
  right:0;
  position: absolute;
  align-self: center;
}

input.task-checkbox-wip{
  width: 3em;
  height: 3rem;
  accent-color: rgb(94, 8, 192);
  position:absolute;
  left:0;
  align-self: center;
}

button {
  width: 10em;
  height: 5ex;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;

}


button:hover {
  color: blue;
}

button:active {
  box-shadow: 2px 2px 5px #fc894d;
}

.title-container {
  width:40%;
  text-align:center;
  margin:auto;
}

label {
  width:100%;
  display:grid;
  position:relative;
}

.container {
  width: 70%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin:auto;
}

.arrow {
  font-size:4em;
  display: inline-block; 
  transform: scaleX(2); 
}

.checkTitle {
  font-family:monospace;
  font-size:1.25em;
}

.go-left {

  left:0;
  position: absolute;
}

.go-right {

  right:0;
  position: absolute;
}

/* Mobile-Size Styling Differences */

@media only screen and (max-width: 768px) {
    #task-container {
      width: 100%!important;
    }

    .title-container {
      width:80%;
    }

    .arrow {
      font-size:4em;
      transform: scaleX(1.5);
    }

    .new-text {
      width:90%!important;
    }
  }

.deadline {
  margin-left:-20%;
  font-family:Arial, Helvetica, sans-serif;
  font-size:3vh;
}
  